@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url('https://fonts.googleapis.com/css?family=Arimo');

/* Bordered form */
form {

}

/* Full-width inputs */
.form input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    align-items: center;
}

.login-overall {
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    padding-bottom: 70px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3), 0 5px 5px 0 rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(0deg, #66BEF7 0%, #C5E7FE 55%, #CDEAFF 100%);
}

.container: before, .container:after{
  content: "";
  display: block;
  clear: both;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-style: bold;
  text-align: center;
  font-family: Lucida Grande;
  font-size: 24px;
  color: #FFFFFF;
  padding-bottom: 40px;

}

/* Set a style for all buttons */
.form button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;

}

.form .Loginbtn {
background: #FFA480;
border-radius: 45px;
margin-top: 45px;
}

/* Add a hover effect for buttons */
.form button:hover {
    opacity: 0.8;
}


/* Center the avatar image inside this container */
.form .logocontainer {
    text-align: center;
    margin: 20px 0 30px 0;

}

/* Avatar image */
.form img.avatar {
    width: 100%;
    border-radius: 100%;
}

.form label.remember{
  color: #FFFFFF;
  font-size: 10px;
  text-transform:lowercase;
  font-family: Roboto;
  float: left;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;

}
.container .info span .fa {
  color: #EF3B3A;
}


/* The "Forgot password" text */
p.psw {
    text-transform:uppercase;
    font-family: Arial;
    float: right;
    padding-bottom: 14px;
    color: #FFFFFF;
    font-size: 12px;
    text-align: left;
}

/* The "New Account" text */
.form .message {
  text-transform:uppercase;
  font-family: Arial;
  float: left;
  padding-top: 14px;
  color: #FFFFFF;
  font-size: 12px;
  text-align: center;
}


.form .message a {
  text-transform:uppercase;
  font-family: Arial;
  float: left;
  padding-bottom: 14px;
  color: #FFFFFF;
  font-size: 12px;
  text-align: center;
}

.form .newacc-form {
  display: none;
}

/* Change styles for span and newAccount button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    span.newacc {
        display: block;
        float: none;
    }
}

/* background color and such - edit me */
body {
  background: #FFE4E1; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #FFE4E1, #ead9d7);
  background: -moz-linear-gradient(right, #FFE4E1, #ead9d7);
  background: -o-linear-gradient(right, #FFE4E1, #ead9d7);
  background: linear-gradient(to left, #FFE4E1, #ead9d7);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
