#bubbles {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 20;
  right: 20;
  bottom: 20;

}

/*.overall {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 26rem;
  height: 54rem;
  margin-left: -15.3rem;
  margin-top: -27rem;
  background: #F6F6F5;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}*/

body{
background: #FFE4E1; /* fallback for old browsers */
background: -webkit-linear-gradient(right, #FFE4E1, #ead9d7);
background: -moz-linear-gradient(right, #FFE4E1, #ead9d7);
background: -o-linear-gradient(right, #FFE4E1, #ead9d7);
background: linear-gradient(to left, #FFE4E1, #ead9d7);
}

.skip {
  text-transform:lowercase;
  font-family: Helvetica;
  font-weight: lighter;
  float: right;
  padding-top: 30px;
  padding-right: 30px;
  font-size: 12px;
  text-align: right;
  text-decoration: none;
  color: #FFFFFF;
}

.skip a:link{
  text-decoration: none;
  color: #4A4E69;
}

.skip a:hover {
  text-decoration: none;
  color: #FFFFFF;
}

.back {
  text-transform:lowercase;
  font-family: Helvetica;
  font-weight: lighter;
  float: left;
  padding-top: 30px;
  padding-left: 30px;
  font-size: 12px;
  text-align: left;
  text-decoration: none;
  color: #FFFFFF;
}

.back a:link{
  text-decoration: none;
  color: #4A4E69;
}

.back a:hover {
  text-decoration: none;
  color: #FFFFFF;
}

h1{
  display: inline-block;
  font-size: 2em;
  margin-top: 100px;
  margin-left: 100px;
  padding-bottom: 0px;
  line-height: 0px;
  float: left;
  text-align: center;
  font-weight: bold;
  font-style: bold;
  text-align: center;
  font-family: Lucida Grande;
  font-size: 24px;
  color: #FFFFFF;
}

.Loginbtn {
background: #FFA480;
border-radius: 45px;
margin-top: 20px;
margin-bottom: 40px;
background-color: #FFF39C;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
text-transform: uppercase;
}

.Loginbtn a:link {
  text-decoration: none;
  color: white;
}
